.messages
            %div{class: "message" data: {message_id: "1570"}}
              .upper-info
                  %p.upper-info__user  
                  %p.upper-info__date  
                %p.message__text
