.wrapper 
  .main-left
    .left-header
      %p.left-header__user-name tetsuro
      %ul.user-menu
        %li.user-menu__edit-user
          %a{:href => "/groups/new"}
            %i.fa fa-edit ::before
        %li.user-menu__new-group
          %a{:href => "/users/339/edit"}
            %i.fa fa-cog ::before
    .groups 
      - @groups.each do |group|
      = render partial: "group", locals: { group: group }
  .main-right
    .right-header
      %div{:"class" => 'current-group', :"data-group_id" => '639'}
        %h2.current-group__name Test 1
        %ul.member-list Member:
        %li.member-list__member
      %a{:href => "/groups/639/edit"}
        .right-header__edit-btn
    .messages
      - @messages.each do |message|
      = render partial: "message", locals: { message: message }
    .form
      %form{:class => 'new-message', :id => 'new_message', :enctype => 'multipart/form-data', :action => '/groups/639/messages', :accept-charset => 'UTF-8', :method => 'post'}
        %input{:name => 'utf-8', :type => 'hidden', :value => 'âœ”ï¸'}
        %input{:type => 'hidden', :name => 'authenticity_token', :value => '2QhVNdtPe69knDtVxUBX0qgMaQ6YaPmgdXUEW+qZaHK8ZxL5jrTHPoIAbSfbp40WpiamYEMV1SL4VI2vgqWkpg=='}
        .input-box
          %input{:placeholder => 'type a message', :class => 'input-box__text', :type => 'text', :name => 'message[content]', :id => 'message_content'}
          %label{:class => 'image-label', :for => 'message_image'}
            %i.fa fa-image ::before
            %input{:class => 'image-label__input', :type => 'file', :name => 'message[image]', :id => 'message_image'}
           %input{type: 'submit', name: 'commit', value: 'Send', class: 'new-message__submit-btn', data: {disable: {with: 'Send'}}}
 