.main-left {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  .left-header { 
    height: 100px;
    line-height: 100px;
    background-color: #253141;
      &__user-name {
        color: $white;
        font-weight: bold;
        font-size: 16px;
        width: 63px;
        float: left;
        padding-left: 20px;
      }
      .user-menu {
        display: flex;
        &__icon {
          display: flex;
          margin: 43px 20px auto auto;
          i {
            @import "mixin/iconic";
            @include iconic;
            content: '\fa-edit';
            padding-right: 5px;
          }
          i {
            @import "mixin/iconic";
            @include iconic;
            content: '\fa-cog';
            padding-left: 5px;
          } 
        }
      }
  }
  .groups {
    margin: 20px 20px auto 20px;
    .group {
      margin-bottom: 40px;
      color: $white;
      font-weight: bold;
      &__group-name {
        font-size: 15px;
        color: $white;
      }
      &__latest-message {
        font-size: 11px;
        margin-top: 5px;
        color: $white;
      }
    }  
  }
}


